{% load staticfiles %}
<html>
    <head>
        <title>Станислав Лифер</title>
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="shortcut icon" href="favicon.png" />
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">Станислав Лифер</a></h1>
        <h2><a href="/">{Веб-разработчик}</a></h2>
    </div>
    <div class="navbar">
        <ul class="menu-main">
  <li><a href="" class="current">Инфо</a></li>
  <li><a href="">Блог</a></li>
  <li><a href="">Связь</a></li>
  <li><a href="">Портфолио</a></li>
</ul>
    </div>
    <div class="content_container">
        <div class="row">
            <div class="col-md-12">
                <div class="Info">
                 <p><h1>Здравствуйте! Меня зовут Станислав Лифер</h1></p>
                 <p><h3>МОИ ПРОФЕССИОНАЛЬНЫЕ НАВЫКИ</h3></p>
                 <li>Опыт разработки на Python 1 год</li>
                 <li>Знания Framework Django</li>
                 <li>Знания HTML,CSS,JavaScript</li>
                 <li>Знания Ruby</li>
                 
                 <div class="cont">
                    Я в социальных сетях
                 <a href="https://www.facebook.com/stanislav.lifer"><img src="{% static 'img/facebook-logo.png' %}"></a>
                 <a href="https://www.instagram.com/stanislav_lifer/"><img src="{% static 'img/instagram-logo.png' %}"></a>
                 <a href="https://twitter.com/stanislav_lifer"><img src="{% static 'img/twitter.png' %}"></a>
                 </div>
                </div>
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
